.upcoming-events-section {
    h2 {
        text-align: center;
        border-bottom: 1px solid $gray-500;
        padding: 2rem 0 1rem 0;
    }

    .upcoming-events {
        display: flex;
        flex-direction: row;
    }

    .event-card {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 0.5rem;
        
        .event-card-inner {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: #fff;
            overflow: hidden;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            .img-container {
                position:relative;
                width: 100%;
                overflow: hidden;

                .card-img {
                    position: absolute;
                    top:  0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-content: flex-end;
                    align-items: flex-end;
                    width: 100%;
                    height: 100%;
                    background-size: cover !important;
                    background-repeat: no-repeat;
                    border-radius: 0;
                    z-index:0;
                    overflow: hidden;
                    background-position: center;
                    transition: all 2s;

                    &:hover {
                        filter: hue-rotate(-20deg);
                        transform: scale(1.1);
                    }
                }

                @media screen and (min-width: 0px) {
                    height: 320px;
                }

                @media screen and (min-width: 768px) {
                    height: 260px;   
                }

                @media screen and (min-width: 992px) {
                     height: 220px;
                }

                @media screen and (min-width: 1200px) {
                    height: 200px;
                }
            }

            h2 {
                position: absolute !important;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                position: relative;
                color: #fff;
                z-index: 5;
                background: rgba(0, 0, 0, 0.82);
                width: 100%;
                text-align: center;
                font-size: 0.9rem;
                padding: 0;
                margin: 0;

                span {
                    padding: 1rem 0.25rem;
                }
            }

            h4 {
                position: relative;
                margin: 0.25rem auto;
                padding-bottom:0.9rem;
                margin-top: 1rem;
                text-align: center;
                font-size: 1.4rem;

                &:after {
                    content: '';
                    position:absolute;
                    bottom:0;
                    left: 50%;
                    transform: translate(-50%);
                    width: 50%;
                    height: 1px;
                    background-color: $gray-300;
                }
            }

            p {
                height: 130px;
                padding: 0.5rem;
                color: $gray-600;
            }

            .sign-up {
                padding: 0.8rem;
                margin: 1rem 3rem;
                font-size: 0.9rem;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                border: none;
                background-image: $button-bg;
                color: #fff;
                text-align: center;

                &:hover,
                &:focus {
                    text-decoration: none;
                    background: $button-hover;
                }
            }
        }
    }
}