/*
font-family: 'Spicy Rice', cursive;
font-family: 'Comic Neue', cursive;
font-family: 'Roboto', sans-serif;
*/

html,
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
.tao-description,
.site-title {
    font-family: 'Spicy Rice', cursive;
}

h3 {
    font-family: 'Comic Neue', cursive;
}

.nav-item {
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
}