* {
    font-family: 'Bellota Text', cursive;
}

h1,
h1 a,
.site-title,
.site-title a,
.tao-site-title,
.tao-site-title a,
.tao-description {
    font-family: 'Spicy Rice', cursive;
    letter-spacing: 0.1rem;
}

h2,
h3,
h4 {
    font-family: 'Lilita One', cursive;
}