.site-title {
    margin: 0;
    a {
        color: #fff;
    }
}

.site-title {
    font-size: 1.6rem;
}

nav {
    background-image: linear-gradient(to right bottom, #181818, #161717, #141516, #121415, #0f1314);

    a {
        color: white;
    }

    a:hover,
    a:focus {
        color: rgb(255, 235, 198);
    }

    a:visited {
        color: white;
    }
}

.tao-global-menu {
    justify-content: flex-end;
}

.site-branding {
    display: flex;

    .custom-logo-link img {
        height: 30px;
        width: 30px;
        margin-right: 0.5rem;
        border-radius: 2.5px;
    }
}