html,
body {
    overflow-x: hidden !important;
}

.parallax {  
    height: 100% !important; 
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-left:-410px !important;
    margin-right:-410px !important;
    }
     
.parallax-content { 
    width:100% !important;
    margin:0 auto !important;
    color:#FFF !important;
    padding-top:50px !important; 
} 

.navbar .site-title,
footer h1,
footer h2,
footer h3,
footer h4 {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #fffcbe, #ffb1b1);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.nav-link {
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #ffffff, #ffddb1);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.site-title a:hover,
.nav-link:hover {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #ffcf90, #ff4343);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}